.row  {
    margin-top:2.0rem;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-subheading,
.section-description {
  margin-bottom: 1.2rem;
}
.section-details {
  text-align: left;
}
.features {
    text-align:left;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logos {
  position: relative;
}
.logo {
	border-radius: 50%;
	height: 200px;
  width: 200px;

}


/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

.hero {
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.forrunners {
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}
.rulespasswords {
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}


/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/forrunners_bg.png');
  background-size: cover;
  color: #fff;
}
.categories .section-description .section-subheading { 
  margin-bottom: 4rem;
}


/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .section-subheading {
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
 		border-radius: 50%;
		max-width: 200px;
		max-height: 200px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .logo {
		border-radius: 50%;
    max-width: 200px;
		max-height: 200px;
 }
}

.play {
    max-height: 64px;
}
